<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibamb.udm"
    android:versionCode="1"
    android:versionName="1.0.5">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- &lt;!&ndash;外部存储读取权限&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_laucher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_laucher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DeviceProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.IPSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ConnectSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OtherSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TCPConnectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UDPConnectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SerialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AccessSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.SpeciallySearchActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.LoadParamDefActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.DeviceUpgradeActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>